body {
  font-family: 'Roboto', sans-serif;
  background: url('/img/bpkad.jpg') no-repeat center center fixed !important;
  background-size: cover !important;
  overflow-x: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); 
  pointer-events: none; 
  z-index: -1;
}

h1 {
  color: #2C3B42;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 2.5rem;
}

@media (max-width: 992px) {
  h1 {
    margin-top: 50px;
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }
}

/* Mengatur label ketika input terpilih */
.form-check-input:checked ~ .form-check-label {
  color: #2C3B42;
  font-weight: bold;
}

/* Mengatur lebar kotak select */
.select2-container--bootstrap-5 .select2-selection--single {
  border: 1.5px solid #2C3B42;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  height: calc(1.5em + 0.75rem + 2px);
  width: 100%;         
  max-width: 500px; 
}

/* Mengatur teks dalam kotak select dan tombol */
.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered,
.btn {
  color: #2C3B42;
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap; /* Mencegah teks dalam select untuk membungkus */
}

/* Mengatur panah dalam kotak select */
.select2-container--bootstrap-5 .select2-selection--single .select2-selection__arrow b {
  border-color: #2C3B42 transparent transparent transparent;
}

/* Mengatur opsi yang terpilih dalam hasil dropdown */
.select2-container--bootstrap-5 .select2-results__option[aria-selected="true"] {
  background-color: #65B789 !important;
  color: #ffffff !important;
  width: 100%; 
  max-width: 500px;
}

/* Mengatur kotak pencarian dalam dropdown */
.select2-container--bootstrap-5 .select2-search--dropdown .select2-search__field {
  border-color: #65B789 !important;
}

.select2-container--bootstrap-5 .select2-search--dropdown {
  border-color: #65B789 !important;
  width: 100%;       
  max-width: 500px;
  box-sizing: border-box; 
}

/* Mengatur kotak dropdown untuk menyesuaikan dengan lebar yang diinginkan */
.select2-container--bootstrap-5 .select2-dropdown {
  width: 100%;
  max-width: 500px;
}

@media  (min-width:1800px) {
  .select2-container--bootstrap-5 .select2-selection--single {
    border: 1.7px solid #2C3B42;
    border-radius: 0.25rem;
    padding: 0.5rem; /* Hanya padding horizontal */
    height: calc(2rem + 1rem + 3px); /* Tetap sama */
    width: 100%;         
    max-width: 750px; 
  }
  .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered,
.btn {
  font-size: 1.3rem;
}
  
  .select2-container--bootstrap-5 .select2-results__option[aria-selected="true"] {
    width: 100%; 
    max-width: 750px;
  }

  .select2-container--bootstrap-5 .select2-search--dropdown {
    width: 100%;       
    max-width: 750px;
  }
  
  /* Mengatur kotak dropdown untuk menyesuaikan dengan lebar yang diinginkan */
  .select2-container--bootstrap-5 .select2-dropdown {
    width: 100%;
    max-width: 750px;
  }
  
}

.form-label,
.add-form-label {
  color: #2C3B42;
  font-weight: bold;
  font-size: 1.3em;
  display: block;
}

@media (min-width: 1800px) {
  .form-label,
  .add-form-label {
    font-size: 1.8em;
  }
}

@media (max-width: 992px) {
  .form-label,
  .add-form-label {
    font-size: 1.1em;
  }
}
@media (max-width: 768px) {
  .form-label,
  .add-form-label {
    font-size: 1em;
  }
}

.add-form-control {
  border-width: 2px;
  border-color: #2C3B42 !important;
  display: block;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px;
}
@media (max-width: 992px) {
  .add-form-control {
    width: 50%;
    padding: 8px;
    font-size: 0.95rem;
  }
}
@media (max-width: 768px) {
  .add-form-control {
    width: 75%;
    padding: 6px;
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .add-form-control {
    width: 100%;
    padding: 4px;
    font-size: 0.85rem;
  }
}

/* CSS untuk gambar dan input file */
.gambar, 
.input-gambar {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}

/* Responsif untuk lebar yang berbeda */
@media (max-width: 992px) {
    .gambar, 
    .input-gambar {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .gambar, 
    .input-gambar {
        width: 75%;
    }
}

@media (max-width: 576px) {
    .gambar, 
    .input-gambar {
        width: 100%;
    }
}

#fileList {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  width: 50%;
}

#fileList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #54656d;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 992px) {
  #fileList {
      width: 50%;
      padding: 8px;
      font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  #fileList {
      width: 75%;
      padding: 6px;
      font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  #fileList {
      width: 100%;
      padding: 4px;
      font-size: 0.85rem;
  }
}

/* Gaya untuk tombol silang */
.remove-button {
  background-color: transparent;
  border: none;
  color: #ff5c5c;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.remove-button:hover {
  color: #ff1a1a;
}

.input-file {
  border-width: 2px;
  border-color: #2C3B42 !important;
  display: block;
  width: 50% !important;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Responsif untuk lebar yang berbeda */
@media (max-width: 992px) {
    .input-file {
    width: 50% !important;
    font-size: 0.95rem;
    }
  }

  @media (max-width: 768px) {
    .input-file {
    width: 75% !important;
    font-size: 0.9rem;
    }
  }

  @media (max-width: 576px) {
  .input-file {
  width: 100% !important;
  font-size: 0.85rem;
  }
}

/* Mengatur gaya untuk daftar file */
.file-list {
  list-style-type: none;
  width: 50%; 
  margin: 0px;
}

.file-list ul {
  list-style: none; 
  padding: 4px;
  margin: 0;
  font-size: 12px;
  padding: 8px;
  margin-bottom: 0.5rem; 
  border: 2px solid #2C3B42;
  border-radius: 5px;
  background-color: #fff;
}
.file-list li:last-child {
  margin-bottom: 0; 
}

.file-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.file-list button.btn-delete {
  background-color: #dc3545; 
  border: none;
  color: #fff;
  padding: 0.25rem;
  font-size: 0.8rem;
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-list a:hover {
  background-color: #e2e6ea;
}
.file-list button.btn-delete:hover {
  background-color: #c82333; 
}
@media (max-width: 992px) {
  .file-list {
      width: 50%;
      padding: 8px;
      font-size: 0.95rem;
      margin: 0;
  }
}

@media (max-width: 768px) {
  .file-list {
      width: 75%;
      padding: 4px;
      font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .file-list {
      width: 100%;
      padding: 4px;
      font-size: 0.85rem;
      margin: 0;
  }
}

.no-hover-link {
  display: inline-block;
  margin-bottom: 5px;
  color:#2C3B42;
  text-decoration: none;

}

.no-hover-link:hover {
  color: #2C3B42; 
  text-decoration: none;  
}


@media (max-width: 922px) {
  .no-hover-link,
  .input-berkas {
      width: 50%;
  }
}

@media (max-width: 768px) {
  .no-hover-link,
  .input-berkas {
      width: 75%;
  }
}

@media (max-width: 576px) {
  .no-hover-link,
  .input-berkas {
      width: 100%;
  }
}

.mb-3 {
  margin-bottom: 1rem !important;
}
.form-check-input {
  margin-top: 0.3rem;
  margin-left: 0;
}
.fixed-top {
  top: 0;
  z-index: 1030;
}

.btn {
  background-color: #2C3B42; 
  border-color: #fff;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}
.btn:hover {
  background-color: #65B789;
  border-color: #fff; 
  color: #fff;
  font-weight: bold;
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .detail {
      display: flex;
      align-items: center;
  }

  .detail i {
      font-size: 1.2em !important; 
  }
}


thead th {
  position: sticky !important;
  top: 0;
}

thead {
  background-color: #2C3B42 !important;
  color: #fff;
}

table {
  width: 100% !important;
  border-collapse: collapse;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.table td {
  vertical-align: middle;
}
.centered-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 999px) {
  table {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  table {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  table {
    font-size: 0.7rem;
  }
}

/* CSS untuk mengatur tabel */
.table-container {
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}
/* CSS untuk mengatur tabel */
.table-container {
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: auto;
  display: block;
}
/* CSS untuk menetapkan lebar tetap untuk kolom tabel data */
.no{
  width: 40px;
}
.fixed-width-column {
  width: 250px;
}
.action-column {
  width: 100px; 
}

.fixed-user-column {
  width: 220px; 
}
.fixed-aksi-column {
  width: 270px; 
}

/* Ubah warna kolom sebelah kiri */
.table th {
  background-color: #2C3B42; 
  color: #fff;
}

.row.my-2 .col-md h3 {
  color: #2C3B42;
}

.table.table-striped.mb-0.fixed-width-table th {
  width: 250px !important; 
}

.table.table-striped.mb-0.fixed-width-table td {
  word-wrap: break-word;
}

/* Media query untuk layar kecil */
@media (max-width: 768px) {
  .table.table-striped.mb-0.fixed-width-table th {
    width: 150px !important; 
  }
}

/* Media query untuk layar sangat kecil */
@media (max-width: 576px) {
  .table.table-striped.mb-0.fixed-width-table th {
    width: 100px !important;
  }
}

/*Login*/
.login-box-area {
  width: 930px;
}
.login-right-box {
  padding: 40px 30px 40px 40px;
}
::placeholder {
  font-size: 15px;
}
.rounded-4 {
  border-radius: 20px;
}
.rounded-5 {
  border-radius: 30px;
}
.img-fluid{
  width: 400px !important;
}
.header-text h2 {
  font-size: 25px; 
  color: #2C3B42; 
  font-weight: bold;
  margin-bottom: 5px;
}
.header-text p {
  font-size: 14px; 
  color: #616161; 
}

@media only screen and (min-width: 1450px) {
  .login-box-area {
    width: 970px;
    height: 450px;
  }

  .login-right-box {
    padding: 60px 30px 60px 60px;
  }
  .img-fluid{
    width: 450px !important;
  }
  .header-text h2 {
    font-size: 30px; 
  }
  .header-text p {
    font-size: 16px; 
  }
}
@media only screen and (max-width: 768px) {
  .img-fluid{
    border-radius: 8px !important;
    height: 230px;
    overflow: hidden;
  }
  .login-right-box {
    padding: 20px;
  }
}
.featured-image img {
  margin-top: 25px;
}
.text-white {
  margin-top: -30px;
}
.header-text {
  text-align: center; 
  margin-bottom: 20px;
}


/* Search */
.header {
  padding: 30px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; 
  flex-direction: column; 
  box-shadow: 0 2px 4px rgba(44, 59, 66, 0.7);
  border-radius: 5px;
  background-color: #ebeaea;
  width: 50%;
}
.search-box {
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 1.8px solid #2C3B42;
  background-color: #ffffff;
  padding: 4px;
  height: 45px; 
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%; 
  max-width: 400px; 
}

.icon-container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}
.icon {
  width: 20px;
  height: 20px;
  fill: #2C3B42;
}
.search-input {
  flex: 1;
  color: #2C3B42;
  height: 100%;
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 100%; /* Mengisi lebar penuh dari parent (header) */
  max-width: 400px; /* Atur lebar maksimum jika perlu */
}
.search-button {
  background-color: #2C3B42;
  color: #ffffff;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.search-button:hover {
  background-color: #65B789;
}

@media (min-width: 1800px) {
  .header{
    width: 50%;
  }
  .search-box{
    width: 950px !important;
    height: 50px;
  }
  .search-button {
    padding: 6px 8px;
  }
}

@media (min-width: 1550px) {
  .header{
    width: 50%;
  }
  .search-box{
    width: 800px;
    height: 50px;
  }
  .search-button {
    padding: 6px 8px;
  }
}

@media (max-width: 1549px) {
  .header{
    width: 50%;
  }
  .search-box{
    width: 50%px;
    height: 50px;
  }
  .search-button {
    padding: 6px 8px;
  }
}

@media (max-width: 1000px) {
  .header{
    width: 77%;
  }
  .search-box{
    width: 300px;
    height: 45px;
  }
  .search-button {
    padding: 5px 7px;
  }
}

@media (max-width: 820px) {
  .search-box{
    width: 260px;
    height: 45px;
  }
  .search-button {
    padding: 5px 7px;
  }
}

@media (max-width: 768px) {
  .header{
    width: 80%;
  }
}

@media (max-width: 576px) {
  .header{
    width: 100%;
  }
}
@media (max-width: 450px) {
  .header{
    width: 100%;
  }
  .search-box{
    width: 240px;
    height: 40px;
  }
  .search-input {
    height: 100%;
    padding: 5px;
    font-size: 12px;
  }
  .search-button {
    padding: 3px 5px;
  }
}

@media (max-width: 450px) {
  .search-box{
    width: 220px;
    height: 38px;
  }
  .search-button {
    padding: 3px 5px;
  }
}

/*Tombol Download*/
.download-button {
  background-color: #2C3B42;
  color: white;
  padding: 12px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 20px;
  right: 50px;
}
.download-button i {
  margin-right: 10px;
}
.download-button:hover {
  background-color: #65B789;
}
@media (max-width: 992px) {
  .download-button {
    top: 20px;
    right: 40px;
    padding: 8px 10px;
    font-size: 10px;
  }
}
@media (min-width: 768px) and(max-width: 830px) {
  .download-button {
    top: 20px;
    right: 40px;
    padding: 6px 8px;
    font-size: 9px;
  }
}
@media (max-width: 576px) {
  .download-button {
    top: 20px;
    right: 40px;
    padding: 5px 6px;
    font-size: 8px;
  }
}
@media (min-width: 1600px) and (max-width:1800px) {
  .download-button {
    top: 40px;
    right: 40px;
    padding: 10px 12px;
    font-size: 20px;
  }
}

@media (min-width: 1801px) {
  .download-button {
    top: 40px;
    right: 40px;
    padding: 15px 17px;
    font-size: 25px;
  }
}

/*Pagingnation*/
.pagination .page-item .page-link {
  border-color: #2C3B42;
  color: #2C3B42;
}
/* Warna latar belakang dan teks untuk tombol aktif */
.pagination .page-item.active .page-link {
  background-color: #2C3B42;
  border-color: #2C3B42;
  color: #fff;
}
/* Warna latar belakang dan teks untuk tombol Previous dan Next */
.pagination .page-item .page-link.prev, .pagination .page-item .page-link.next {
  background-color: #2C3B42;
  border-color:  #fff;
}
/* Warna latar belakang dan teks untuk tombol non-aktif */
.pagination .page-item.disabled .page-link {
  background-color:#fff;
  border-color: #2C3B42;
  color:#2C3B42;
}

.koordinat{
  font-size: 0.9rem;
  font-weight: bold;
}

/*radio button */
.custom-radio-input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.custom-radio-input[type="radio"]:checked {
  background-color: #2C3B42;
  border-color: #2C3B42;
}
.custom-radio-lable {
  font-size:18px;
}

.custom-select-search {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 1400px) {
  .custom-select-search {
    width: 50%;
  }
}
@media (max-width: 992px) {
  .custom-select-search {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .custom-select-search {
    width: 75%;
  }
}
@media (max-width: 576px) {
  .custom-select-search {
    width:100%;
  }
}

.maps{
  width: 100% !important;
  height: 500px;
  border: 1px; 
  border-color:black
}

@media (min-width: 1550px) {
  .maps{
    height: 700px !important;
  } 
}
